.featuredSection {
  background-color: var(--white-color);
  padding: 60px 0;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}