.likeContainer {
  text-align: center;
}

.likeHeader {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2rem;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}